<ion-view title="Get That Bottle" has-header="false" hide-back-button="true" style="background: #fff" hide-nav-bar="true">

    <ion-content has-header="false" padding="true">

        <div class="list list-inset" style="background: #fff">

            <div class="item item-image" style="border:none;margin-top:0px;">
                <img src="img/sociogram.jpg" />
            </div>

            <button class="button button-block button-light-red" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </button>


        </div>

    </ion-content>

</ion-view>